body,html{
    background: rgba(231, 76, 60,1.0);
}

header{
    width: 100%;
    margin-bottom: 70px;
}

/************************************** NAV ********************************************/
.nav{
    display: flex;
    justify-content: center;
    width: 120px;
}

nav ul li a{
    width: 120px;
    text-align: center;
}

nav ul li a:hover{
    color: #2ecc71;
    background-color: bisque;
}

.navbar-brand span{
    font-size: 2rem;
}

.title{
    font-size: 7vw;
    font-weight: 700;
}

.concert{
    background: url(./images/palmtree.png) no-repeat 20% 100%;
    background-size: cover;
}
.concert > h3{
    font-size: 2rem;
    color: white;
}

.dates > h2{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid #2ecc71;
    color: #f1c40f;
    font-size: 2.5rem;
    font-weight: 700;

}

.artists > h5{
    font-size: 2rem;
    text-align: center;
    color: #27ae60;
    font-weight: 700;

}

.artists > ul > li{
    list-style-type: none;
    font-size: 3rem;
    text-align: center;
    color: #f39c12;
    font-weight: 700;
}

.card{
    height: 400px;
}

.card-header{
    background-color: #27ae60;
    color: #f1c40f;
    font-size: 2rem;
    font-weight: 500;
}

.card-body{
    background: bisque;
}

.price{
    font-size: 4rem;
    font-weight: 600;
}
.color-items, 
.foot-items, 
.food-items{
    height: auto;
    text-align: justify;
}

.color-content, 
.foot-content,
.food-content{
    color: white;
}

.color-content{
    background: #f39c12;
}

.foot-content{
    background: rgb(3, 64, 105);
}

.food-content{
    background: rgba(243, 104, 224,1.0);
}



/************************************** NAV ********************************************/
footer{
    height: 20vh;
    background-color: rgba(230, 126, 34,1.0);
    margin-top: 15px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

/******************* 992px ********************/


@media (min-width: 992px) {
    .ticket-button{
        display: none;
    }
}


    @media (max-width: 992px){
    .ticket-button-expand{
        display: none;
    }
}

/******************* 1440px ********************/
