body, html{
    width: 100vw;
}

header{
    width: 100%;
}

nav ul li a{
    color: #34495e;
}
nav ul li a:hover{
    color: #2ecc71;
    background-color: bisque;
}

main{
    height: 60%;
    background-color:beige;
}

.items{
    display:flex;
    align-items: flex-end;
}

.content:hover{
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 50%;
}

.text{
    color: white;
    margin: 5px;

}

.text a btn{
    justify-content: end;
}

footer{
    height: 30%;
    background-color: #27ae60;
}



@media (min-width: 576px) {

}


@media (min-width: 768px) {

    .nav{
        display: flex;
        justify-content: flex-end;
        width: 120px;
    }

    nav ul li a{
        width: 120px;
        text-align: center;
    }
}


@media (max-width: 768px) {
    .donsbutton{
        display: none;
    }

}



@media (max-width: 992px) {
    .imgbox{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }
    .items{
        height: 500px;
        width: 310px;
        border-style: solid;
        margin: 12px;
        background-image: url(https://picsum.photos/500/300);
    }
    
    .animals{
        background-image: url(./pandarogne.jpg);
    }

    .tiersmonde{
        background-image: url(./Drupalrogne.jpg)
    }

    .globalwarming{
        background-image: url(./bear2rogne.jpg);
        background-position: right 35% bottom 45%;
    }

}


@media (min-width: 1200px) {

}