body,html{
    background: rgba(236, 240, 241,1.0);
}

header{
    width: 100%;
    height: 30%;
    margin-bottom: 70px;
}


/************************************** NAV ********************************************/
.nav{
    display: flex;
    justify-content: center;
    width: 120px;
}

nav ul li a{
    width: 120px;
    text-align: center;
}

nav ul li a:hover{
    color: #2ecc71;
    background-color: bisque;
}

.navbar-brand span{
    font-size: 2rem;
}

/************************************** NAV ********************************************/

main{
    height: 80%;
}


.actu-box{
    display: flex;
}


.content:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow:-0px 1px 15px rgba(243, 243, 243, 0.145);
}


.content{
    display: flex;
}

.text{
    color: white;
    margin: 5px;
    align-items: flex-end;
}

.social-links-twitter{
    width: 25%;
    background: rgba(52, 152, 219,1.0);
    color: white;
}
.social-links-fb{
    width: 25%;
    background: rgba(41, 128, 185,1.0);
    color: white;
}
.social-links-insta{
    background: rgba(243, 156, 18,1.0);
    color: rgba(211, 84, 0,1.0);
    width: 25%;
}
.social-links-share{
    width: 25%;
    background: rgba(149, 165, 166,1.0);
    color: rgba(52, 73, 94,1.0);
}

.about-us{
    background: rgba(243, 156, 18,0.9);
    padding-top: 35px;
    padding-bottom: 25px;
    height: auto;
}

.about-us-item{
    max-width: 40%;
    height: auto;
    text-align: justify;
}

footer{
    height: 20vh;
    background-color: rgba(230, 126, 34,1.0);
    margin-top: 15px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}


/****************** MAX 576 **********************/
@media (max-width: 576px) {

.card-body .btn-warning{
        display: none;
    }

}

/****************** MIN 768 px (a partir de 768) ******************/

@media (min-width: 768px) {

    .actu-box-item-1{
        width: 70%;
    }
    .actu-box-item-2{
        width: 30%;
    }
    .actu-box-item-3{
        width: 35%;
    }
    .actu-box-item-4{
        width: 35%;
    }

    .imgbox-content a{
        text-decoration: none;
        color: white;
    }
    
    .item-animals, 
    .item-tiersmonde, 
    .item-globalwarming, 
    .item-benevole{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500px;
        width: 100%;
        margin: 5px;
    }

    .item-actus-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 2px;
        color: white;
        height: 500px;
        width: 310px;
        margin: 1px;
    }

    
    .item-animals{
        background-image: url(./images/panda.jpg);
        background-size: cover;
    }
    .item-tiersmonde{
        background-image: url(./images/Drupal.jpg);
        background-size: cover;
    
    }
    .item-globalwarming{
        background-image: url(./images/bear.jpg);
        background-size: cover;
    }

    .item-benevole{
        background-image: url(./images/benevoles2.jpg);
        background-size: cover;
    }

    .imgbox-background{
        background-color: rgba(0, 0, 0, 0.65);
        color: white;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .missions{
        display: flex;
        justify-content: center;
    }

    .missions-content{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .missions-items1, 
    .missions-items2, 
    .missions-items3, 
    .missions-items4, 
    .missions-items5, 
    .missions-items6{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 33%;
        height: 200px;
        text-decoration: none;
    }

    .missions-items1{
        background-image: url(./images/hands.jpg);
        background-position: 55% 75%;
        box-shadow: inset 0 0 0 1000px rgba(213, 4, 4, 0.513);
    }
    
    .missions-items1:hover, 
    .missions-items2:hover, 
    .missions-items3:hover, 
    .missions-items4:hover, 
    .missions-items5:hover, 
    .missions-items6:hover{
        transform: scale(1.05);
    }
    
    .missions-items2{
        background-image: url(./images/Mada-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(1, 28, 182, 0.513);
    }


    
    .missions-items3{
        background-image: url(./images/koala-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(4, 155, 67, 0.513);
    }

    .missions-items4{
        background-image: url(./images/burning-forest-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.513);
    }

    .missions-items5{
        background-image: url(./images//milkyway-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(255, 247, 13, 0.513);
    }

    .missions-items6{
        background-image: url(./images/speakmini-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(209, 17, 209, 0.513);
    }

    .missions-box{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8em;
    }

}

/******************MAX 768 px (768 et en dessous) ******************/

@media (max-width: 768px) {
    
    .imgbox-content{
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        width: auto;
        padding-bottom: 30px;
        margin-top: 10px;
    }

    .imgbox-background{
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding-top: 15px;
    }
    
    .imgbox-content a{
        text-decoration: none;
        color: white;
        
    }
    
    .box{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }
    .item-animals, 
    .item-tiersmonde, 
    .item-globalwarming, 
    .item-benevole,
    .item-actus-link{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500px;
        width: 310px;
        margin: 1px;
    }
    
    
    .item-animals{
        background-image: url(./images/pandarogne.jpg);
    }
    .item-tiersmonde{
        background-image: url(./images/childrens.jpg);
    }
    .item-globalwarming{
        background-image: url(./images/bear2rogne.jpg);
    }
    .item-benevole{
        background-image: url(./images/benevoles.jpg);
    }
    
    .item-actus-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 2px;
        color: white;
    }

    .about-us-item{
        max-width: 100%;
        height: auto;
    }

    .about-us{
        flex-direction: column-reverse;
        align-content: center;
    }
    
    
                            /*********** MISSIONS REPONSIVE ************/
    .missions-box{
        display: flex;
    }
    
    .missions-items1, 
    .missions-items2, 
    .missions-items3, 
    .missions-items4, 
    .missions-items5, 
    .missions-items6{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
    }

    .missions-items1:hover, 
    .missions-items2:hover, 
    .missions-items3:hover, 
    .missions-items4:hover, 
    .missions-items5:hover, 
    .missions-items6:hover{
        transform: scale(1.05);
    }


    .missions-items1{
        background-image: url(./images/hands-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(213, 4, 4, 0.513);
    }
    
    .missions-items2{
        background-image: url(./images/Mada-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(1, 28, 182, 0.513);
    }
    
    .missions-items3{
        background-image: url(./images/koala-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(4, 155, 67, 0.513);
    }
    
    .missions-items4{
        background-image: url(./images/burning-forest-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.513);
    }

    .missions-items5{
        background-image: url(./images//milkyway-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(255, 247, 13, 0.513);
    }

    .missions-items6{
        background-image: url(./images/speakmini-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(209, 17, 209, 0.513);
        transition: transform .2s;
    }

    .missions-box{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8em;
    }

    .projects-box{
        background: lightgrey;
    }

}

/******************* 992px ********************/


@media (min-width: 992px) {
    .donsbutton{
        display: none;
    }
}


    @media (max-width: 992px){
    .donsbutton-expand{
        display: none;
    }
}

/******************* 1440px ********************/
