body, html{
    width: 100vw;

}


header{
    width: 100%;
}

nav ul li a{
    color: #34495e;
}
nav ul li a:hover{
    color: #2ecc71;
    background-color: bisque;
}

main{
    height: 60%;
   /* background-color:beige;*/
}

.actubox{
    padding: 10px;
  /*  background: #ecf0f1;*/
}

.items{
    display:flex;
    align-items: flex-end;
}

.content:hover{
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 50%;
}

.text{
    color: white;
    margin: 5px;

}

.text a btn{
    justify-content: end;
}



footer{
    height: 30%;
    background-color: #27ae60;
}


@media (min-width: 576px) {

}


@media (min-width: 768px) {

    .nav{
        display: flex;
        justify-content: flex-end;
        width: 120px;
    }

    nav ul li a{
        width: 120px;
        text-align: center;
    }
}


@media (max-width: 768px) {
    .donsbutton{
        display: none;
    }

}



@media (max-width: 992px) {

    .main-background{
        background-image: url(./images/bottle-rogne.jpg);
        box-shadow: inset 0 0 0 1000px rgba(4, 155, 67, 0.513);
    
    }

    .imgbox-content{
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        width: auto;
        padding-top: 450px;
        padding-bottom: 30px;
    }

    .imgbox-background{
        background-color: rgba(0, 0, 0, 0.45);
        color: white;
    }

    .box{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }
    .items{
        height: 500px;
        width: 310px;
        margin: 8px;
        background-image: url(https://picsum.photos/500/300);
    }
    
    .items:hover{
        box-shadow:-0px 1px 15px rgb(243, 243, 243);

    }
    
    .animals{
        background-image: url(./images/pandarogne.jpg);
    }

    .tiersmonde{
        background-image: url(./images/Drupalrogne.jpg)
    }

    .globalwarming{
        background-image: url(./images/bear2rogne.jpg);
        background-position: right 35% bottom 45%;
    }

    .missions-items1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images/hands-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(213, 4, 4, 0.513);
    }

    .missions-items1:hover{
        transform: scale(1.05);
    }

    .missions-items2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images/Mada-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(1, 28, 182, 0.513);
    }

    .missions-items2:hover{
        transform: scale(1.05);
    }

    .missions-items3{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images/koala-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(4, 155, 67, 0.513);
    }

    .missions-items3:hover{
        transform: scale(1.05);
    }

    .missions-items4{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images/burning-forest-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.513);
    }

    .missions-items4:hover{
        transform: scale(1.05);
    }

    .missions-items5{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images//milkyway-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(255, 247, 13, 0.513);
    }

    .missions-items5:hover{
        transform: scale(1.05);
    }

    .missions-items6{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        width: 50%;
        height: 200px;
        text-decoration: none;
        background-image: url(./images/speakmini-mini.png);
        box-shadow: inset 0 0 0 1000px rgba(209, 17, 209, 0.513);
        transition: transform .2s;
    }

    .missions-items6:hover{
        transform: scale(1.05);
    }

    .missions-box{
        display: flex;
        flex-wrap: wrap;
    }

}


@media (min-width: 1200px) {

}